<% layout("/layouts/boilerplate") %>
<div class="container-fluid d-flex flex-column" style="min-height: 80vh;">

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% if (listings.length > 0) { %>
    
    <% for(let listing of listings) { %>

    <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="col mb-4">
                    <div class="card listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b> <br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %>
                            </p>
                        </div>
                    </div>
                </div>
    </a>
    <% } %>
<% } else { %>
         <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center mt-3 mb-4">
            <h2 class="text-muted">Your wishlist is empty!</h2>
            <p class="text-muted">Start adding some listings you love.</p>
            <a href="/listings" class="btn btn-primary mt-3">Browse Listings</a>
        </div>
    <% } %>
</div>